
#### Name: HARIPRASAD SIVAPATHAM ANAND
#### Student Number: 202205341
#### Email: x2022gmv@gmail.com
#### Accuracy Achieved: 67.46%

In [85]:
# Importing Datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [86]:
# Reading Data Frame
dataFrame  = pd.read_csv("./train.csv");

In [87]:
# Describing the dataset
dataFrame.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [88]:
# Information about the data frame 
dataFrame.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [89]:
# As Name is a noise in the dataset 
dataFrame = dataFrame.drop("Name",axis=1)

In [90]:
display(dataFrame)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [91]:
# As more than 50% of the cabin is unknown and filling with random data will not give any prediction we can drop the data

dataFrame = dataFrame.drop("Cabin",axis=1)

In [92]:
# Checking For null values
dataFrame.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [93]:
# Drop Unknown Values 
# Replace age with mean of age 
age_mean = dataFrame["Age"].mean()
dataFrame.Age =  dataFrame.Age.fillna(age_mean)

In [94]:
dataFrame.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [95]:
# Replace Embarked with mean of embarked
count_of_embarked = dataFrame.Embarked.value_counts().idxmax()
dataFrame.Embarked = dataFrame.Embarked.fillna(count_of_embarked)

In [96]:
dataFrame.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [97]:
print(dataFrame.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB
None

In [98]:
# As encoding of ticket values increase the number of dimensions of the data we will drop the column
dataFrame = dataFrame.drop("Ticket",axis=1)

In [99]:
# We will encode Tickets and Sex and Embarked as they are categorical variables
dataFrame = pd.get_dummies(dataFrame,columns=["Sex","Embarked"])

In [100]:
# dataFrame.to_csv("clean_train.csv")

In [101]:
dataFrame.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.352413,0.647587,0.188552,0.086420,0.725028
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429,0.477990,0.477990,0.391372,0.281141,0.446751
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000,0.000000,0.000000,0.000000,0.000000
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200,0.000000,1.000000,0.000000,0.000000,1.000000
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000

In [102]:
print(dataFrame)

     PassengerId  Survived  Pclass        Age  SibSp  Parch     Fare  \
0              1         0       3  22.000000      1      0   7.2500
1              2         1       1  38.000000      1      0  71.2833
2              3         1       3  26.000000      0      0   7.9250
3              4         1       1  35.000000      1      0  53.1000
4              5         0       3  35.000000      0      0   8.0500
..           ...       ...     ...        ...    ...    ...      ...
886          887         0       2  27.000000      0      0  13.0000
887          888         1       1  19.000000      0      0  30.0000
888          889         0       3  29.699118      1      2  23.4500
889          890         1       1  26.000000      0      0  30.0000
890          891         0       3  32.000000      0      0   7.7500

     Sex_female  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0             0         1           0           0           1
1             1         0           1           0           0
2             1         0           0           0           1
3             1         0           0           0           1
4             0         1           0           0           1
..          ...       ...         ...         ...         ...
886           0         1           0           0           1
887           1         0           0           0           1
888           1         0           0           0           1
889           0         1           1           0           0
890           0         1           0           1           0

[891 rows x 12 columns]

In [103]:
# Normalizing data 
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()

dataFrame[["Age","Fare"]] = scaler.fit_transform(dataFrame[["Age","Fare"]])

In [104]:
dataFrame.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,0.367921,0.523008,0.381594,0.062858,0.352413,0.647587,0.188552,0.086420,0.725028
std,257.353842,0.486592,0.836071,0.163383,1.102743,0.806057,0.096995,0.477990,0.477990,0.391372,0.281141,0.446751
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,0.271174,0.000000,0.000000,0.015440,0.000000,0.000000,0.000000,0.000000,0.000000
50%,446.000000,0.000000,3.000000,0.367921,0.000000,0.000000,0.028213,0.000000,1.000000,0.000000,0.000000,1.000000
75%,668.500000,1.000000,3.000000,0.434531,1.000000,0.000000,0.060508,1.000000,1.000000,0.000000,0.000000,1.000000
max,891.000000,1.000000,3.000000,1.000000,8.000000,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [105]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Age          891 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   Sex_female   891 non-null    uint8
 8   Sex_male     891 non-null    uint8
 9   Embarked_C   891 non-null    uint8
 10  Embarked_Q   891 non-null    uint8
 11  Embarked_S   891 non-null    uint8
dtypes: float64(2), int64(5), uint8(5)
memory usage: 53.2 KB

In [106]:
# dataFrame.to_csv("clean_train.csv",index=False)

In [107]:
# Splitting into training and testing
X = dataFrame.drop("Survived",axis=1)
y = dataFrame["Survived"]

In [108]:
np.random.seed(42)
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [109]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50)

In [110]:
def fit_model_and_score(model,X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(score)
    return model

In [111]:
model_save =  fit_model_and_score(model,X_train, X_test, y_train, y_test)

0.8212290502793296

In [ ]:
# Performing Hyperparameter Tuning

# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
from sklearn.model_selection import GridSearchCV

parameters = [{"n_estimators":[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200]}]
gscv = GridSearchCV(RandomForestClassifier(),parameters,verbose=1,n_jobs=-1,cv=40)
gscv.fit(X,y)

Fitting 40 folds for each of 20 candidates, totalling 800 fits

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
model2 = GradientBoostingClassifier(n_estimators=10, learning_rate=0.1,max_depth=3)

In [ ]:
model2.fit(X_train, y_train)

In [ ]:
parameters = [{"n_estimators":[100,200,300,400]},
             {"learning_rate":[0.1,0.3,0.5,0.7,0.9,1.1,1.3,1.5,1.7,2.0]},
             {"max_depth":[1,2,3,4,5,6,7,8,9,10]}]

In [ ]:
gscv = GridSearchCV(model2,parameters,verbose=3,n_jobs=-1,cv=40)

In [ ]:
gscv.fit(X,y)

In [ ]:
data = pd.read_csv("./test.csv")

In [ ]:
# Checking For Null Values
data.isna().sum()

In [ ]:
# replace_age = 0

# data = data.drop("Name",axis=1)
data = data.drop(["Cabin","Ticket","Name"],axis=1)

In [ ]:
replace_fare = data.Fare.mean()
replace_age = data.Age.mean()
data = data.fillna({"Age":replace_age,"Fare":replace_fare})

In [ ]:
data = pd.get_dummies(data,columns=["Sex","Embarked"])

In [ ]:
# Normalize data
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()

data[["Age","Fare"]] = scaler.fit_transform(data[["Age","Fare"]])

In [ ]:
predicted_value = model.predict(data)

In [ ]:
print(predicted_value)

In [ ]:
survived_data = pd.DataFrame(predicted_value,columns=["Survived"])
passenger_id = pd.DataFrame(data["PassengerId"],columns=["PassengerId"])

In [ ]:
passenger_id["Survived"] = survived_data

In [ ]:
passenger_id.to_csv("submission_file_1.csv",index=False)